[workspace]
members = ["app", "candle-qwen2-5-cli", "candle-qwen2-5-core"]
resolver = "3"

[workspace.dependencies]
tokio = { version = "1" }

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
